<div class="content-container">
    <h2>
        Herzlich Willkommen<br> bei V+D Innenausbau
    </h2>
    <h3>
        Ihrem Partner für:
    </h3>
    <ul>
        <li>
            Trockenbau
        </li> 
        <li>
            Innenausbau
        </li>
        <li>
            Bodenbeläge
        </li> 
        <li>
            Malerarbeiten
        </li> 
        <li>
            Raumgestaltung
        </li>
    </ul>
    <p>
        in Lengerich und Umgebung
    </p>
    <h2>Über Uns</h2>
    <p>
        V + D Innenausbau ist ein Familienbetrieb mit über 20 Jahren Erfahrung im Bereich Trockenbau und Innenausbau.
        Wir sind stolz auf unsere langjährige Erfolgsgeschichte und unsere Kompetenz in der Umsetzung von Projekten in den 
        Bereichen Trockenbau und Innenausbau. Wir garantieren höchste Qualität und einen zuverlässigen Service, auf den Sie 
        sich jederzeit verlassen können.
    </p>
</div>