<div class="content-container">
    <h2>Bodenbeläge</h2>
    <img class="content-image" src="./assets/img/boden.jpg" alt="Trockenbauarbeiten" srcset="">
    <p>
        Sie sind umgezogen oder haben neu gebaut?<br>
         Dann sind wir Ihr Ansprechpartner für Bodenbeläge aller Art. Wir verbauen unter anderem
        Teppiche, PVC, Laminat und vieles mehr. Gerne finden wir mit Ihnen zusammen den für Sie passenden Bodenbelag.   
        <br>
        <br>
        Für ein unverbindliches Angebot nehmen Sie gerne <a href="./kontakt.html"><b>Kontakt</b></a> mit uns auf.<br>
        Gerne unterbreiten wir Ihnen ein persönliches Angebot. 
    </p>
</div>