<div class="footer-container">
    <div class="footer-link-container">
        <a href="./kontakt.html">Kontakt</a>
        <img class="logo-header" src="./assets/img/logo.png" alt="">
        <a href="./impressum.html">Impressum</a>
    </div>
    <p>
        Diersmanns Weg 24<br>
        49525 Lengerich<br>
        05481 389680<br>
        <br>
        <a href="mailto:mail@v-d-innenausbau.de"><b>mail@v-d-innenausbau.de</b></a>
    </p>
    <span class="copyright-container">
        © 2023 by Nils Nehring and Kevin Herrmann
    </div>
</div>