<div class="content-container">
    <h2>Innenausbau</h2>
    <img class="content-image" src="./assets/img/innenausbau.jpg" alt="Trockenbauarbeiten" srcset="">
    <p>
        Als Innenausbau oder kurz Ausbau werden alle Baumaßnahmen der Gewerke bezeichnet, die nicht zum Rohbau, 
        also zur Erstellung der Gebäudehülle, oder der Haustechnik gehören.<br>
        Sie wollen Ihre Räumlichkeiten, z.B. durch ein weiteres Zimmer erweitern, dann sprechen Sie uns gerne an. 
        <br>
        <br>
            Für ein unverbindliches Angebot nehmen Sie gerne <a href="./kontakt.html"><b>Kontakt</b></a> mit uns auf.<br>
            Gerne unterbreiten wir Ihnen ein persönliches Angebot.
    </p>
</div>