<div class="content-container">
    <h2>Innenausbau</h2>
    <img class="content-image" src="./assets/img/staenderwerk.jfif" alt="Trockenbauarbeiten" srcset="">
    <p>
        Als Innenausbau werden alle Baumaßnahmen der Gewerke bezeichnet, die nicht zum Rohbau, 
        also zur Erstellung der Gebäudehülle oder der Haustechnik gehören.<br>
        Sie wollen Ihre Räumlichkeiten zum Beispiel durch einen neuen Boden, einem Raumteiler oder um ein Zimmer erweitern 
        dann sprechen Sie uns gerne an. 
        <br>
        <br>
        Für ein unverbindliches Angebot nehmen Sie gerne <a href="./kontakt.html"><b>Kontakt</b></a> mit uns auf.<br>
    </p>
</div>