<div class="content-container content-impressum">
    <h2>Kontakt</h2>
    <p>
        <ul>
            <li><b>V&D Innenausbau</b></li></br>
            <li><b>Rechtliche Anschrift:</b></br>  
                Diersmanns Weg 24</br>
                49525 Lengerich</li></br>
            <li><b>Kontakt:</b></br> 
                Tel.: 05481 389680</br>
                </br>
                <a href="mailto:mail@v-d-innenausbau.de"><b>mail@v-d-innenausbau.de</b></a></li></br>
        </ul>
    </p>
</div>