<div class="content-container">
    <h2>Malerarbeiten</h2>
    <img class="content-image" src="./assets/img/farben.jpg" alt="Trockenbauarbeiten" srcset="">
    <p>
        Ihre Wohnung kann einen neuen Anstrich gebrauchen?<br>
        Dann sprechen Sie uns gerne an.   
        <br>
        <br>
            Für ein unverbindliches Angebot nehmen Sie gerne <a href="./kontakt.html"><b>Kontakt</b></a> mit uns auf.<br>
            Gerne unterbreiten wir Ihnen ein persönliches Angebot.
    </p>
</div>