<div id="overlay" class="menu-overlay" onclick="closePageMenu()"></div>
<nav  id="navigation" class="navbar-container">
    <a href="./trockenbauarbeiten.html">Trockenbauarbeiten</a>
    <a href="./innenausbau.html">Innenausbau</a>
    <a href="./spachtelarbeiten.html">Spachtelarbeiten</a>
    <a href="./raumgestaltung.html">Raumgestaltung</a>
    <a href="./image-gallery.html">Bildergallerie</a>
    <a href="./oeffnungszeiten.html">Öffnungszeiten</a>
    <a href="./kontakt.html">Kontakt</a>
</nav>