<div class="content-container">
    <h2>Öffnungszeiten</h2>
    <div class="opening-time-container">
        <div class="opening-time-content">
            <div>
                Montag:
            </div>
            <div>07:00 - 17:00</div>
        </div>
        <div class="opening-time-content">
            <div>
                Dienstag:
            </div>
            <div>07:00 - 17:00</div>
        </div>
        <div class="opening-time-content">
            <div>
                Mittwoch:
            </div>
            <div>07:00 - 17:00</div>
        </div>
        <div class="opening-time-content">
            <div>
                Donnerstag:
            </div>
            <div>07:00 - 17:00</div>
        </div>
        <div class="opening-time-content">
            <div>
                Freitag:
            </div>
            <div>07:00 - 17:00</div>
        </div>
    </div>
</div>