<div class="content-container">
    <h2>Raumgestaltung</h2>
    <img class="content-image" src="./assets/img/staenderwerk.jfif" alt="Trockenbauarbeiten" srcset="">
    <h3>Decken abhängen - Dämmen - Lärmschutz - Raumgestaltung</h3>
    <p>
        Durch das Flexibel einsetzbare Metall Ständerwerk sind Ihnen bei der Raumgestaltung keine Grenzen gesetzt.  
        Die Trockenbauweise ermöglicht es, bauphysikalische Anforderungen bezüglich Wärme-, Kälte-, Schall-, Brand-, Feuchte-, 
        Strahlenschutz und Schlagsicherheit flexibel und modular zu erfüllen.
        <br>
        <br>
        Für ein unverbindliches Angebot nehmen Sie gerne <a href="./kontakt.html"><b>Kontakt</b></a> mit uns auf.<br>
    </p>
</div>