<div class="content-container">
    <h2>Raumgestaltung</h2>
    <img class="content-image" src="./assets/img/farben.jpg" alt="Trockenbauarbeiten" srcset="">
    <p>
        Sie brauchen hilfe bei der Raumgestaltung?<br>
        Gerne helfen wir Ihnen dabei, Ihre Wohnung nach Ihren Vorstellungen zu gestalten. 

        <br>
        <br>
            Für ein unverbindliches Angebot nehmen Sie gerne <a href="./kontakt.html"><b>Kontakt</b></a> mit uns auf.<br>
            Gerne unterbreiten wir Ihnen ein persönliches Angebot.
    </p>
</div>