<div class="content-container">
    <h2>Spachtelarbeiten</h2>
    <img class="spatula" src="./assets/img/spachtel.png" alt="Spachtelarbeiten" srcset="">
    <p>
        Spachtelmasse ist eine breiartige Substanz, die für oberflächliche Ausbesserungsarbeiten mit einem Spachtel aufgetragen und 
        nach der Aushärtung glatt geschliffen wird. Im Trockenbau wird sie als Vorbereitung für die Malerarbeiten verwendet,
        dass diese auf glatten Wänden ausgeführt werden können.
        <br>
        <br>
        Für ein unverbindliches Angebot nehmen Sie gerne <a href="./kontakt.html"><b>Kontakt</b></a> mit uns auf.
    </p>
</div>