<div class="content-container">
    <h2>Trockenbauarbeiten</h2>
    <img class="content-image" src="./assets/img/trockenbau.jpg" alt="Trockenbauarbeiten" srcset="">
    <p>
        Unter anderem bieten wir unseren Kunden Trockenbauarbeiten an. Die Trockenbauweise bezeichnet raumbegrenzende, bauteilbekleidende 
        und dekorative Konstruktionen des Ausbaus. Sie ist vielfältig anwendbar, z.B für Wand, Decke, Boden und wird in trockener
        Bauweise montiert.  Es werden überwiegend plattenförmige Bauteile durch Nageln, Schrauben, Stecken oder Kleben verbunden. 
        Auf den Einsatz wasserhaltiger Baustoffe kann weitgehend verzichtet werden.
        <br>
        <br>
        Für ein unverbindliches Angebot nehmen Sie gerne <a href="./kontakt.html"><b>Kontakt</b></a> mit uns auf.<br>
    </p>
</div>