<div class="content-container">
    <h2>Trockenbauarbeiten</h2>
    <img class="content-image" src="./assets/img/trockenbau.jpg" alt="Trockenbauarbeiten" srcset="">
    <p>
        Unter anderem bieten wir unseren Kunden Trockenbauarbeiten, für Neubauten und Renovierungen, an.
        Gipskarton ist ein Baustoff aus Gips, meistens in Verwendung als Gipsplatten (auch Gipskarton-Bauplatte) mit beidseitigem 
        Kartonage-Bezug, im Trocken- oder Akustikbau. Ihre Biegesteife erhalten die Platten durch die beidseitige Kartonage, 
        die die Zugkräfte aufnimmt.<br>
        <br>
            Für ein unverbindliches Angebot nehmen Sie gerne <a href="./kontakt.html"><b>Kontakt</b></a> mit uns auf.<br>
            Gerne unterbreiten wir Ihnen ein persönliches Angebot.
    </p>
</div>