h1{
    font-size: 54px;
    color: white;
    background: rgb(123 108 91);
    padding: 25px;
    border-radius: 24px;
    box-shadow: 2px 2px 2px 0px black;
}

h2{
    font-size: 38px;
}


@media(max-width: 1024px){
    h1{
        font-size: 43px;
    }
  }

@media(max-width: 768px){
    h1{
        font-size: 36px;
    }
    
}

@media(max-width: 425px){
    h1{
        font-size: 23px;
        padding: 16px;
    }
    h2{
        font-size: 24px;
    }
    
}  
@media(max-width: 375px){
    h1 {
        font-size: 20px;
    }
    
}  

@media(max-width: 320px){
    h1 {
        font-size: 18px;
    }
    
}  